# DataScience
## Objective 
* [Basic Python practice for Data Science](https://github.com/vuitton11/Data-Science/blob/master/Labs/2_va187_Lab1.ipynb)
* [Working with Pandas](https://github.com/vuitton11/Data-Science/blob/master/Labs/2_va187_Lab2.ipynb)
* [Data Cleaning and Visualization](https://github.com/vuitton11/Data-Science/blob/master/Labs/2_va187_Lab3.ipynb)
* [Kernel Density Estimator](https://github.com/vuitton11/Data-Science/blob/master/Labs/2_va187_Lab4.ipynb)
* [Image Processing](https://github.com/vuitton11/Data-Science/blob/master/Labs/2_va187_Lab5.ipynb)
* [Linear Regression](https://github.com/vuitton11/Data-Science/blob/master/Labs/2_va187_lab6.ipynb)
* [Feature Engineering](https://github.com/vuitton11/Data-Science/blob/master/Labs/2_va187_lab7.ipynb)
* [Analyzing Trump’s Tweets](https://github.com/vuitton11/Data-Science/tree/master/Twitter%20Analysis)
* [Deep learning with Tensorflow](https://github.com/vuitton11/Data-Science/tree/master/Deep%20Learning%20With%20Tensorflow)

*NOTE: Sample outputs are also provided but are not strictly followed due to their own errors.*

## Prerequisites:
* Python 3 required.
* Additional python pakages have to be installed based on the requirements.

## Run the code
```
// cd to the project directory
jupyter notebook
```

## Author
* @vuitton11